<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">  
<title>Insert title here</title>
</head>
<body>
		<h1>This is sign up page</h1>
<form action="/user" method="post">
	<label for="name">UserName:-</label>
	<input type="text" name="name" placeholder="Input Your name"><br><br>
	<label for="number">Phone:-</label>
	<input type="text" name="email" placeholder="Input Your email"><br>
	<span id="error" style="color:red;"></span><br><br>
	<label for="password">Password:-</label>
	<input type="text" name="password" placeholder="Input Your name"><br><br>
	<button type="submit">Submit</button>
	</form>

</body>
</html>